@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,700,900&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #252d37;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.popup-show body {
  overflow: hidden;
  touch-action: none;
}

input,
button,
textarea {
  font-family: "Montserrat", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

@media (max-width: 47.99875em) {
  .lock body {
    overflow: hidden;
    touch-action: none;
  }
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 68.125rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

body.popup-show::after {
  opacity: 1;
}

.popup {
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
}
.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  background-color: #fff;
  padding: 2.5rem;
  width: 50%;
  max-width: 900px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 2.4375rem;
}
@media (min-width: 61.99875em) {
  .popup__content {
    padding-right: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 61.99875em) {
  .popup__content {
    padding-right: clamp( 0.9375rem , 0.193430236rem  +  3.7203488199vw , 2.5rem );
  }
}
@media (max-width: 20em) {
  .popup__content {
    padding-right: 0.9375rem;
  }
}
@media (min-width: 61.99875em) {
  .popup__content {
    padding-left: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 61.99875em) {
  .popup__content {
    padding-left: clamp( 0.9375rem , 0.193430236rem  +  3.7203488199vw , 2.5rem );
  }
}
@media (max-width: 20em) {
  .popup__content {
    padding-left: 0.9375rem;
  }
}
@media (min-width: 47.99875em) {
  .popup__content {
    min-width: 23.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 47.99875em) {
  .popup__content {
    min-width: clamp( 19.375rem , 16.4730847359rem  +  14.5095763204vw , 23.4375rem );
  }
}
@media (max-width: 20em) {
  .popup__content {
    min-width: 19.375rem;
  }
}
.lock .popup__content {
  visibility: visible;
}
.popup__close {
  align-self: flex-end;
  position: relative;
  width: 1.125rem;
  height: 1.125rem;
  cursor: pointer;
}
.popup__close::before, .popup__close::after {
  content: "";
  transition: all 0.5s ease 0.1s;
  left: 0px;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #001e42;
  opacity: 0;
}
.popup_show .popup__close::before, .popup_show .popup__close::after {
  width: 100%;
  opacity: 1;
}
.popup__close::before {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.popup__close::after {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
}
.popup__form {
  width: 80%;
}
.popup__form > *:not(:last-child) {
  margin-bottom: 0.7777777778em;
}
@media (max-width: 61.99875em) {
  .popup__form {
    width: 100%;
  }
}
.popup__line {
  width: 100%;
}
.popup__line .form__error {
  bottom: 50%;
  right: 0.625rem;
  color: #8b0000;
  font-size: 0.625rem;
  transform: translateY(50%);
}
.popup__input, .popup__textarea {
  padding: 0.625rem 1.125rem;
  background-color: #ececec;
  width: 100%;
  transition: all 0.3s ease 0s;
}
.popup__input:active, .popup__input:focus, .popup__textarea:active, .popup__textarea:focus {
  box-shadow: inset 0 0 10px #bfe2ff;
  outline: 1px solid #bfe2ff;
}
.popup__input::placeholder, .popup__textarea::placeholder {
  line-height: 140%;
  color: #001e42;
}
.popup__textarea {
  height: 6.4375rem;
  overflow: auto;
  resize: none;
}
.checkbox {
  min-height: 1.25rem;
  position: relative;
}
.checkbox__input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.checkbox__label {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 0.4375rem;
  cursor: pointer;
}
.checkbox__label::before, .checkbox__label::after {
  content: "";
}
.checkbox__label::before {
  width: 1.25rem;
  height: 1.25rem;
  background-color: #ececec;
}
._form-error .checkbox__label::before {
  border: 1px solid #8b0000;
}
.checkbox__label::after {
  width: 0.5rem;
  height: 0.5rem;
  transition: transform 0.3s ease 0s;
  position: absolute;
  background-color: #00feff;
  border-radius: 0.125rem;
  top: 50%;
  left: 6px;
  transform: scale(0) translateY(-50%);
}
.checkbox__text {
  font-size: 0.625rem;
  line-height: 140%;
  color: #001e42;
}

.checkbox__input:checked + .checkbox__label::after {
  transform: scale(1) translateY(-50%);
}

[data-showmore-button] span:last-child {
  display: none;
}
._showmore-active [data-showmore-button] span {
  display: none;
}
._showmore-active [data-showmore-button] span:last-child {
  display: block;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.btn {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.0625rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #002047;
  padding: 0.9375rem 1.375rem 0.875rem;
  background-color: #00feff;
  display: flex;
  align-items: center;
  column-gap: 1.3125rem;
  border: 2px solid #bfe2ff;
  outline: 1px solid;
  outline-color: #337ab7;
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn::after {
  content: "";
  width: 1.1875rem;
  height: 0.8125rem;
  background: url("../img/main-block/arrow.svg") 0 50%/contain no-repeat;
}
@media (any-hover: hover) {
  .btn:hover, .btn:active, .btn:focus {
    box-shadow: inset 0 0 20px #bfe2ff;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
  }
  .btn:hover::after {
    animation: arrow-1 1s ease infinite;
  }
}

@keyframes arrow-1 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0.4375rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes download {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.3125rem);
  }
  100% {
    transform: translateY(0);
  }
}
.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 26px;
    height: 18px;
    cursor: pointer;
    z-index: 10;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu {
    top: -1.25rem;
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
    background-color: #001e42;
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
    background-color: #001e42;
  }
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  padding: 2.3125rem 0px 0px 0px;
}
.header._header-scroll {
  position: fixed;
  top: -200%;
  background-color: #06182f;
  padding-bottom: 0.9375rem;
}
@media (max-width: 47.99875em) {
  .header._header-scroll {
    padding: 0.9375rem 0px;
  }
  .header._header-scroll .icon-menu span,
.header._header-scroll .icon-menu::before,
.header._header-scroll .icon-menu::after {
    background-color: #00feff;
  }
  .menu-open .header._header-scroll .icon-menu {
    top: -0.625rem;
  }
  .menu-open .header._header-scroll .icon-menu span,
.menu-open .header._header-scroll .icon-menu::before,
.menu-open .header._header-scroll .icon-menu::after {
    background-color: #001e42;
  }
  .header._header-scroll .header__menu {
    align-self: center;
  }
}
.header._header-show {
  top: 0;
  transition: top 0.3s ease 0s;
}
.header__container {
  min-height: 2.75rem;
}
@media (min-width: 47.99875em) {
  .header__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    column-gap: 1.875rem;
    row-gap: 0.9375rem;
    align-items: start;
  }
}
@media (max-width: 47.99875em) {
  .header__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 1.5625rem;
    row-gap: 0.625rem;
  }
}
.header__box {
  display: flex;
  align-items: flex-start;
  column-gap: 1.5625rem;
}
@media (max-width: 47.99875em) {
  .header__box {
    order: 1;
  }
}
.header__logo img {
  max-width: 100%;
}
.header__open-menu-logo {
  display: none;
}
@media (max-width: 47.99875em) {
  .header__open-menu-logo {
    display: block;
    position: fixed;
    width: 100%;
    height: 3.75rem;
    top: -100%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: top 0.5s ease 0.2s;
    background-color: #fff;
  }
  .menu-open .header__open-menu-logo {
    opacity: 1;
    top: 0.9375rem;
    z-index: 2;
  }
}
@media (min-width: 47.99875em) {
  .header__menu {
    align-self: center;
  }
}
@media (max-width: 47.99875em) {
  .header__menu {
    order: 3;
  }
}
@media (max-width: 47.99875em) {
  .header__contacts {
    order: 2;
    margin-top: -5px;
  }
  .menu-open .header__contacts {
    transition: all 0.5s ease 0s;
    position: fixed;
    width: 100%;
    min-height: 3.8125rem;
    top: 5.625rem;
    left: calc(50% - 101px);
    z-index: 26;
    background-color: #fff;
  }
}
.header__telephone {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 0.6875rem;
}
.header__telephone:not(:last-child) {
  margin-bottom: 1px;
}
@media (max-width: 47.99875em) {
  .menu-open .header__telephone {
    justify-content: flex-start;
  }
  .menu-open .header__telephone:not(:last-child) {
    margin-bottom: 0.1176470588em;
  }
}
.header__mobile-operator {
  font-size: 0.75rem;
  line-height: 1.25;
  color: #fff;
}
@media (max-width: 47.99875em) {
  .menu-open .header__mobile-operator {
    color: #001e42;
    order: 2;
  }
}
.header__phone-number {
  font-size: 1.0625rem;
  font-weight: 700;
  line-height: 1.2352941176;
  color: #fff;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .header__phone-number:hover {
    color: #00feff;
  }
}
@media (max-width: 47.99875em) {
  .menu-open .header__phone-number {
    padding: 0.375rem 0px;
    color: #001e42;
    order: 1;
  }
}

@media (max-width: 47.99875em) {
  .menu-open .language__list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.5rem;
    padding: 2.125rem 0px 1.875rem 0px;
  }
}
@media (max-width: 47.99875em) {
  .language__item {
    transition: all 0.3s ease 0s;
  }
  .language__item:first-child {
    background-color: #f2f2f2;
  }
  .language__item:first-child .language__link::after {
    background-color: transparent;
  }
  ._language .language__item {
    background-color: #f2f2f2;
  }
  ._language .language__item .language__link::after {
    background-color: transparent;
  }
  ._language .language__item:first-child {
    background-color: #fff;
  }
  ._language .language__item:first-child .language__link::after {
    background-color: #001e42;
  }
}
@media (min-width: 47.99875em) {
  .language__item {
    animation: langIn 0.4s ease 0s forwards;
  }
  .language__item:first-child {
    display: none;
  }
  ._language .language__item {
    display: none;
    animation: langOut 0.4s ease 0s forwards;
  }
  ._language .language__item:first-child {
    display: block;
    animation: langIn 0.4s ease 0s forwards;
  }
}
@keyframes langIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes langOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.language__link {
  display: block;
  line-height: 1.2222222222;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 2px;
  color: #001e42;
}
.language__link::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #001e42;
  transition: background-color 0.3s ease 0s;
}
@media (min-width: 47.99875em) {
  .language__link {
    padding: 0.4375rem 0.25rem 0.3375rem 0.3125rem;
    font-size: 0.625rem;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #00feff;
    border: 1px solid #00feff;
    border-radius: 50%;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 100%;
    opacity: 0;
    left: 0;
    background-color: #fff;
    transition: top 0.5s ease 0.2s;
  }
  .menu__body::before {
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 9rem;
    top: 100%;
    left: 0;
    opacity: 0;
    background-color: #fff;
    z-index: 25;
    transition: opacity 0.1s ease 0.5s;
  }
  .menu-open .menu__body {
    overflow: auto;
    top: 0;
    opacity: 1;
    padding: 9.6875rem 2.4375rem 2.125rem;
  }
  .menu-open .menu__body::before {
    top: 0;
    opacity: 1;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 2.4375rem;
  row-gap: 0.625rem;
}
@media (min-width: 61.99875em) {
  .menu__list {
    column-gap: 2.4375rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 61.99875em) {
  .menu__list {
    column-gap: clamp( 1.5625rem , -1.437421875rem  +  6.25vw , 2.4375rem );
  }
}
@media (max-width: 47.99875em) {
  .menu__list {
    column-gap: 1.5625rem;
  }
}
@media (max-width: 47.99875em) {
  .menu-open .menu__list {
    flex-direction: column;
  }
}
@media (max-width: 47.99875em) {
  .menu-open .menu__item {
    width: 100%;
    text-align: center;
  }
}
.menu__link {
  display: block;
  line-height: 1.2222222222;
  color: #fff;
  transition: color 0.3s ease 0s;
  position: relative;
}
.menu__link::after {
  content: ".";
  display: block;
  position: absolute;
  bottom: -12%;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  color: transparent;
  background: #00feff;
  height: 1px;
  transition: width 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: rgba(0, 254, 255, 0.6);
  }
  .menu__link:hover::after {
    width: 100%;
  }
}
@media (max-width: 47.99875em) {
  .menu-open .menu__link {
    color: #001e42;
    padding: 0.8125rem 0rem;
  }
}
.menu__button {
  display: none;
}
@media (max-width: 47.99875em) {
  .menu-open .menu__button {
    display: flex;
    margin: 0 auto;
  }
}
@media (max-width: 21.25em) {
  .menu__button {
    column-gap: 1rem;
    padding: 0.9375rem 1rem 0.875rem;
  }
}

.footer__bottom {
  background-color: #001e42;
}

.top-footer {
  position: relative;
  padding-top: 3.125rem;
  padding-bottom: 2.1875rem;
}
.top-footer__container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.25rem;
  align-items: center;
}
@media (max-width: 47.99875em) {
  .top-footer__container {
    flex-direction: column;
  }
}
@media (max-width: 47.99875em) and (min-width: 47.99875em) {
  .top-footer__container {
    row-gap: 2.4375rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 47.99875em) {
  .top-footer__container {
    row-gap: clamp( 1.5625rem , 0.937472097rem  +  3.1251395152vw , 2.4375rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .top-footer__container {
    row-gap: 1.5625rem;
  }
}
@media (min-width: 61.99875em) {
  .top-footer__column_right {
    padding-left: 3.625rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 61.99875em) {
  .top-footer__column_right {
    padding-left: clamp( 0.00000625rem , -12.4282200898rem  +  25.8928125vw , 3.625rem );
  }
}
@media (max-width: 47.99875em) {
  .top-footer__column_right {
    padding-left: 0.00000625rem;
  }
}
@media (min-width: 47.99875em) {
  .top-footer__column_left {
    align-self: flex-start;
  }
}
@media (min-width: 47.99875em) {
  .top-footer__column {
    flex: 0 1 50%;
    padding-left: 0.9375rem;
  }
}
@media (min-width: 47.99875em) and (min-width: 61.99875em) {
  .top-footer__column {
    padding-right: 0.9375rem;
  }
}
@media (min-width: 47.99875em) and (min-width: 47.99875em) and (max-width: 61.99875em) {
  .top-footer__column {
    padding-right: clamp( 0.00000625rem , -3.2141743309rem  +  6.6963839286vw , 0.9375rem );
  }
}
@media (min-width: 47.99875em) and (max-width: 47.99875em) {
  .top-footer__column {
    padding-right: 0.00000625rem;
  }
}
.top-footer__title {
  font-weight: 700;
  line-height: 120%;
  color: #fff;
}
@media (min-width: 61.99875em) {
  .top-footer__title {
    font-size: 2.25rem;
  }
}
@media (min-width: 20em) and (max-width: 61.99875em) {
  .top-footer__title {
    font-size: clamp( 1.875rem , 1.6964232566rem  +  0.8928837168vw , 2.25rem );
  }
}
@media (max-width: 20em) {
  .top-footer__title {
    font-size: 1.875rem;
  }
}
@media (min-width: 47.99875em) {
  .top-footer__title {
    max-width: 23.375rem;
  }
}
.top-footer__title:not(:last-child) {
  margin-bottom: 0.5555555556em;
}
.top-footer__form {
  display: flex;
  flex-direction: column;
  row-gap: 0.875rem;
}
@media (min-width: 23.75em) {
  .top-footer__form {
    width: 21.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 23.75em) {
  .top-footer__form {
    width: clamp( 18.125rem , 0.4583333333rem  +  88.3333333333vw , 21.4375rem );
  }
}
@media (max-width: 20em) {
  .top-footer__form {
    width: 18.125rem;
  }
}
.top-footer__line {
  width: 100%;
}
.top-footer__line .form__error {
  bottom: 50%;
  right: 0.625rem;
  font-weight: 700;
  color: red;
  font-size: 0.625rem;
  transform: translateY(50%);
}
.top-footer__input, .top-footer__textarea {
  padding: 0.625rem 1.3125rem 0.4375rem;
  background-color: #ececec;
  width: 100%;
  transition: all 0.3s ease 0s;
}
.top-footer__input:active, .top-footer__input:focus, .top-footer__textarea:active, .top-footer__textarea:focus {
  box-shadow: inset 0 0 10px 3px #bfe2ff;
  outline: 1px solid #bfe2ff;
}
.top-footer__input::placeholder, .top-footer__textarea::placeholder {
  line-height: 140%;
  color: #001e42;
}
.top-footer__textarea {
  height: 4.375rem;
  overflow: auto;
  resize: none;
}
.top-footer__button {
  text-align: center;
  justify-content: center;
}
.top-footer__bg-ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

._form-error .checkbox__label_footer::before {
  border: 2px solid red;
}
.checkbox__label_footer::after {
  background-color: #001e42;
}
.checkbox__label_footer .checkbox__text {
  color: #a5aaaf;
}
.bottom-footer__container {
  min-height: 8.8125rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 1.875rem;
}
@media (min-width: 47.99875em) {
  .bottom-footer__container {
    row-gap: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 47.99875em) {
  .bottom-footer__container {
    row-gap: clamp( 0.625rem , 0.3571308987rem  +  1.3393455065vw , 1rem );
  }
}
@media (max-width: 20em) {
  .bottom-footer__container {
    row-gap: 0.625rem;
  }
}
@media (max-width: 47.99875em) {
  .bottom-footer__container {
    flex-direction: column;
    align-items: flex-start;
  }
}
.bottom-footer__contacts {
  flex: 1 1 auto;
}
.bottom-footer__email {
  display: block;
  line-height: 1.2222222222;
  color: #fff;
  transition: color 0.3s ease 0s;
}
.bottom-footer__email:not(:last-child) {
  margin-bottom: 0.8888888889em;
}
@media (any-hover: hover) {
  .bottom-footer__email:hover {
    color: #00feff;
  }
}
.bottom-footer__telephone {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 0.875rem;
}
.bottom-footer__telephone:not(:last-child) {
  margin-bottom: 0.2777777778em;
}
.bottom-footer__mobile-operator {
  font-size: 0.75rem;
  line-height: 1.25;
  color: #fff;
}
.bottom-footer__phone-number {
  font-weight: 700;
  line-height: 1.2222222222;
  color: #fff;
  transition: color 0.3s ease 0s;
}
@media (max-width: 47.99875em) {
  .bottom-footer__phone-number {
    padding: 0.375rem 0px;
  }
}
@media (any-hover: hover) {
  .bottom-footer__phone-number:hover {
    color: #00feff;
  }
}
@media (min-width: 47.99875em) {
  .bottom-footer__info {
    text-align: right;
  }
}
@media (max-width: 47.99875em) {
  .bottom-footer__info {
    width: 100%;
  }
}
.bottom-footer__slogan {
  line-height: 1.2222222222;
  color: #00feff;
}
.bottom-footer__slogan:not(:last-child) {
  margin-bottom: 1.0555555556em;
}
@media (min-width: 47.99875em) {
  .bottom-footer__slogan {
    max-width: 19rem;
  }
}
.bottom-footer__copy {
  line-height: 1.2222222222;
  color: #fff;
}
@media (max-width: 47.99875em) {
  .bottom-footer__copy {
    text-align: center;
  }
}

.main-block {
  position: relative;
  padding: 9.6875rem 0px 4.1875rem 0px;
}
@media (min-width: 47.99875em) {
  .main-block {
    padding-top: 9.6875rem;
  }
}
@media (min-width: 20em) and (max-width: 47.99875em) {
  .main-block {
    padding-top: clamp( 9.6875rem , 11.8303970043rem  +  -4.4644850217vw , 10.9375rem );
  }
}
@media (max-width: 20em) {
  .main-block {
    padding-top: 10.9375rem;
  }
}
@media (min-width: 47.99875em) {
  .main-block {
    padding-bottom: 4.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 47.99875em) {
  .main-block {
    padding-bottom: clamp( 2.25rem , 0.8660096433rem  +  6.9199517836vw , 4.1875rem );
  }
}
@media (max-width: 20em) {
  .main-block {
    padding-bottom: 2.25rem;
  }
}
.main-block__body {
  position: relative;
  z-index: 2;
}
.main-block__title {
  font-weight: 900;
  line-height: 110%;
  color: #00feff;
}
@media (min-width: 61.99875em) {
  .main-block__title {
    font-size: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 61.99875em) {
  .main-block__title {
    font-size: clamp( 2.125rem , 1.6487953511rem  +  2.3810232447vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .main-block__title {
    font-size: 2.125rem;
  }
}
@media (min-width: 70em) {
  .main-block__title {
    max-width: 35.5rem;
  }
}
@media (min-width: 20em) and (max-width: 70em) {
  .main-block__title {
    max-width: clamp( 35.5rem , 35.5rem  +  0vw , 35.5rem );
  }
}
@media (max-width: 20em) {
  .main-block__title {
    max-width: 35.5rem;
  }
}
.main-block__title:not(:last-child) {
  margin-bottom: 1.14em;
}
@media (max-width: 29.99875em) {
  .main-block__title:not(:last-child) {
    margin-bottom: 0.88em;
  }
}
.main-block__sub-title {
  font-weight: 900;
  line-height: 103.32%;
  color: #00feff;
}
@media (min-width: 29.99875em) {
  .main-block__sub-title {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 29.99875em) {
  .main-block__sub-title {
    font-size: clamp( 1rem , 0.7499687461rem  +  1.2501562695vw , 1.125rem );
  }
}
@media (max-width: 20em) {
  .main-block__sub-title {
    font-size: 1rem;
  }
}
.main-block__sub-title:not(:last-child) {
  margin-bottom: 0.2777777778em;
}
@media (max-width: 29.99875em) {
  .main-block__sub-title:not(:last-child) {
    margin-bottom: 1em;
  }
}
.main-block__text {
  line-height: 140%;
  color: #fff;
}
.main-block__text:not(:last-child) {
  margin-bottom: 1.3888888889em;
}
.main-block__advantage {
  line-height: 140%;
  color: #fff;
}
@media (min-width: 29.99875em) {
  .main-block__advantage {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 29.99875em) {
  .main-block__advantage {
    font-size: clamp( 1.25rem , 0.7499374922rem  +  2.5003125391vw , 1.5rem );
  }
}
@media (max-width: 20em) {
  .main-block__advantage {
    font-size: 1.25rem;
  }
}
.main-block__advantage:not(:last-child) {
  margin-bottom: 0.1666666667em;
}
.main-block__profitable-price {
  font-weight: 700;
  line-height: 140%;
  color: #fff;
}
@media (min-width: 29.99875em) {
  .main-block__profitable-price {
    font-size: 2.25rem;
  }
}
@media (min-width: 20em) and (max-width: 29.99875em) {
  .main-block__profitable-price {
    font-size: clamp( 2rem , 1.4999374922rem  +  2.5003125391vw , 2.25rem );
  }
}
@media (max-width: 20em) {
  .main-block__profitable-price {
    font-size: 2rem;
  }
}
.main-block__bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1.875rem;
}
.main-block__bottom:not(:last-child) {
  margin-bottom: 1em;
}
.main-block__button {
  align-self: flex-start;
}
.main-block__slogan {
  flex: 0 1 25rem;
  font-size: 0.875rem;
  line-height: 140%;
  color: #fff;
}
.main-block__image-ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -1px;
  left: -2px;
  filter: blur(1px);
}
.main-block__image-ibg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(0deg, rgba(1, 53, 113, 0.25), rgba(1, 53, 113, 0.25));
}

@media (min-width: 68.125em) {
  .about {
    padding-top: 5.625rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  .about {
    padding-top: clamp( 1.875rem , 0.3165584416rem  +  7.7922077922vw , 5.625rem );
  }
}
@media (max-width: 20em) {
  .about {
    padding-top: 1.875rem;
  }
}
@media (min-width: 68.125em) {
  .about {
    padding-bottom: 1.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  .about {
    padding-bottom: clamp( 0.9375rem , 0.5219155844rem  +  2.0779220779vw , 1.9375rem );
  }
}
@media (max-width: 20em) {
  .about {
    padding-bottom: 0.9375rem;
  }
}
.about__body {
  display: flex;
  margin: 0 -1.25rem;
  row-gap: 1.25rem;
}
@media (max-width: 47.99875em) {
  .about__body {
    flex-direction: column;
    margin: 0;
  }
}
.about__title {
  font-weight: 700;
  line-height: 1.22;
  color: #001e42;
}
@media (min-width: 47.99875em) {
  .about__title {
    flex: 1 0 25%;
    padding: 0 1.25rem;
  }
}
@media (min-width: 61.99875em) {
  .about__title {
    font-size: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 61.99875em) {
  .about__title {
    font-size: clamp( 1.875rem , 1.2797441888rem  +  2.9762790559vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .about__title {
    font-size: 1.875rem;
  }
}
.about__text {
  line-height: 140%;
  color: #252d37;
}
@media (min-width: 47.99875em) {
  .about__text {
    text-align: justify;
    padding: 0 1.25rem;
  }
}

@media (min-width: 68.125em) {
  .services {
    padding-top: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  .services {
    padding-top: clamp( 0.9375rem , 0.5478896104rem  +  1.9480519481vw , 1.875rem );
  }
}
@media (max-width: 20em) {
  .services {
    padding-top: 0.9375rem;
  }
}
@media (min-width: 68.125em) {
  .services {
    padding-bottom: 2.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  .services {
    padding-bottom: clamp( 0.9375rem , 0.4180194805rem  +  2.5974025974vw , 2.1875rem );
  }
}
@media (max-width: 20em) {
  .services {
    padding-bottom: 0.9375rem;
  }
}
.services__title {
  font-weight: 700;
  line-height: 1.22;
  color: #001e42;
}
@media (min-width: 61.99875em) {
  .services__title {
    font-size: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 61.99875em) {
  .services__title {
    font-size: clamp( 1.875rem , 1.2797441888rem  +  2.9762790559vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .services__title {
    font-size: 1.875rem;
  }
}
@media (min-width: 61.99875em) {
  .services__title {
    margin-bottom: 3.5rem;
  }
}
@media (min-width: 20em) and (max-width: 61.99875em) {
  .services__title {
    margin-bottom: clamp( 1.25rem , 0.1785395399rem  +  5.3573023007vw , 3.5rem );
  }
}
@media (max-width: 20em) {
  .services__title {
    margin-bottom: 1.25rem;
  }
}
.services__items {
  display: grid;
  grid-template-columns: repeat(3, 33.333%);
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
}
@media (min-width: 90em) {
  .services__items {
    column-gap: 2.5rem;
  }
}
@media (min-width: 61.99875em) and (max-width: 90em) {
  .services__items {
    column-gap: clamp( 1.25rem , -1.5176777822rem  +  4.4640864247vw , 2.5rem );
  }
}
@media (max-width: 61.99875em) {
  .services__items {
    column-gap: 1.25rem;
  }
}
@media (min-width: 90em) {
  .services__items {
    row-gap: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 90em) {
  .services__items {
    row-gap: clamp( 1.5625rem , 0.9375rem  +  3.125vw , 3.75rem );
  }
}
@media (max-width: 20em) {
  .services__items {
    row-gap: 1.5625rem;
  }
}
@media (max-width: 61.99875em) {
  .services__items {
    grid-template-columns: repeat(2, 50%);
  }
}
@media (max-width: 47.99875em) {
  .services__items {
    grid-template-columns: repeat(1, 100%);
  }
}
.item-services {
  display: flex;
  align-items: center;
  column-gap: 1.5625rem;
}
.item-services__icon {
  align-self: flex-start;
}
.item-services__text {
  font-weight: 700;
  line-height: 130%;
  color: #001e42;
}

@media (min-width: 68.125em) {
  .advantage {
    padding-top: 2.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  .advantage {
    padding-top: clamp( 1.25rem , 0.8603896104rem  +  1.9480519481vw , 2.1875rem );
  }
}
@media (max-width: 20em) {
  .advantage {
    padding-top: 1.25rem;
  }
}
@media (min-width: 68.125em) {
  .advantage {
    padding-bottom: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  .advantage {
    padding-bottom: clamp( 1.25rem , 0.211038961rem  +  5.1948051948vw , 3.75rem );
  }
}
@media (max-width: 20em) {
  .advantage {
    padding-bottom: 1.25rem;
  }
}
.advantage__title {
  font-weight: 700;
  line-height: 1.2083333333;
  color: #001e42;
}
@media (min-width: 28.125em) {
  .advantage__title {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 28.125em) {
  .advantage__title {
    font-size: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 1.5rem );
  }
}
@media (max-width: 20em) {
  .advantage__title {
    font-size: 1.25rem;
  }
}
.advantage__title:not(:last-child) {
  margin-bottom: 1.2916666667em;
}
@media (min-width: 20em) and (max-width: 61.99875em) {
  .advantage__title:not(:last-child) {
    margin-bottom: clamp( 0.9375rem , 0.4612953511rem  +  2.3810232447vw , 1.9375rem );
  }
}
@media (max-width: 20em) {
  .advantage__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
.advantage__content {
  margin: 0px -1rem;
}
@media (min-width: 61.99875em) {
  .advantage__content {
    margin-bottom: 2.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 61.99875em) {
  .advantage__content {
    margin-bottom: clamp( 1.25rem , 0.6249813983rem  +  3.1250930087vw , 2.5625rem );
  }
}
@media (max-width: 20em) {
  .advantage__content {
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 47.99875em) {
  .advantage__content {
    display: flex;
    align-items: flex-start;
  }
}
.advantage__text {
  padding: 0px 1rem;
  line-height: 140%;
  color: #252d37;
}
@media (min-width: 47.99875em) {
  .advantage__text {
    flex: 0 1 50%;
  }
}
@media (max-width: 47.99875em) {
  .advantage__text:not(:last-child) {
    margin-bottom: 0.6666666667em;
  }
}
.advantage__button:not(:last-child) {
  margin-bottom: 1.2222222222em;
}
@media (max-width: 47.99875em) {
  .advantage__button:not(:last-child) {
    margin-bottom: 0.6666666667em;
  }
}

@media (min-width: 68.125em) {
  .purpose {
    padding-top: 4.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  .purpose {
    padding-top: clamp( 1.5625rem , 0.523538961rem  +  5.1948051948vw , 4.0625rem );
  }
}
@media (max-width: 20em) {
  .purpose {
    padding-top: 1.5625rem;
  }
}
@media (min-width: 68.125em) {
  .purpose {
    padding-bottom: 3.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  .purpose {
    padding-bottom: clamp( 1.25rem , 0.1850649351rem  +  5.3246753247vw , 3.8125rem );
  }
}
@media (max-width: 20em) {
  .purpose {
    padding-bottom: 1.25rem;
  }
}
.purpose__container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;
  grid-row-gap: 1.25rem;
  grid-auto-rows: auto;
  align-items: center;
  justify-items: start;
}
@media (max-width: 75em) {
  .purpose__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 47.99875em) {
  .purpose__container {
    justify-items: center;
    grid-template-columns: repeat(1, 100%);
  }
}
@media (max-width: 47.99875em) and (min-width: 47.99875em) {
  .purpose__container {
    row-gap: 2.4375rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 47.99875em) {
  .purpose__container {
    row-gap: clamp( 1.5625rem , 0.937472097rem  +  3.1251395152vw , 2.4375rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .purpose__container {
    row-gap: 1.5625rem;
  }
}
.purpose__visual {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.9375rem;
  justify-content: center;
}
@media (min-width: 28.125em) {
  .purpose__visual {
    column-gap: 1.625rem;
  }
}
@media (min-width: 20em) and (max-width: 28.125em) {
  .purpose__visual {
    column-gap: clamp( 0.625rem , -1.8365384615rem  +  12.3076923077vw , 1.625rem );
  }
}
@media (max-width: 20em) {
  .purpose__visual {
    column-gap: 0.625rem;
  }
}
@media (min-width: 47.99875em) {
  .purpose__visual {
    justify-self: end;
    align-self: start;
    padding-right: 1.5625rem;
  }
}
.purpose__image-ibg_contain {
  width: 164px;
  flex: 0 1 10.25rem;
  padding-bottom: 55.9467889908%;
}
.purpose__title {
  align-self: center;
  text-align: right;
  font-weight: 700;
  line-height: 115%;
  color: #001e42;
}
@media (min-width: 28.125em) {
  .purpose__title {
    font-size: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 28.125em) {
  .purpose__title {
    font-size: clamp( 2.125rem , -0.0288461538rem  +  10.7692307692vw , 3rem );
  }
}
@media (max-width: 20em) {
  .purpose__title {
    font-size: 2.125rem;
  }
}
.purpose__text {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 130%;
  color: #001e42;
}
@media (min-width: 61.99875em) {
  .purpose__text {
    padding-left: 0.9375rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 61.99875em) {
  .purpose__text {
    padding-left: clamp( 0.00000625rem , -3.2141743309rem  +  6.6963839286vw , 0.9375rem );
  }
}
@media (max-width: 47.99875em) {
  .purpose__text {
    padding-left: 0.00000625rem;
  }
}
@media (max-width: 47.99875em) {
  .purpose__text {
    text-align: center;
  }
}

@media (min-width: 68.125em) {
  .connection {
    padding-top: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  .connection {
    padding-top: clamp( 0.9375rem , 0.0284090909rem  +  4.5454545455vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .connection {
    padding-top: 0.9375rem;
  }
}
@media (min-width: 68.125em) {
  .connection {
    padding-bottom: 4.0625rem;
  }
}
@media (min-width: 61.99875em) and (max-width: 68.125em) {
  .connection {
    padding-bottom: clamp( 0.9375rem , -30.68806111rem  +  51.0099979596vw , 4.0625rem );
  }
}
@media (max-width: 61.99875em) {
  .connection {
    padding-bottom: 0.9375rem;
  }
}
.connection__container {
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 61.99875em) {
  .connection__container {
    padding: 0px 15px;
  }
}
.connection__title {
  padding-left: 0.9375rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2083333333;
  color: #001e42;
}
.connection__title:not(:last-child) {
  margin-bottom: 1.2916666667em;
}
@media (max-width: 61.99875em) {
  .connection__title {
    padding-left: 0;
  }
}
.connection__items {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  row-gap: 0.625rem;
  margin: 0px -1.25rem;
  counter-reset: num-counter 0;
}
@media (min-width: 70.625em) {
  .connection__items {
    margin-left: 0.00000625rem;
  }
}
@media (min-width: 61.99875em) and (max-width: 70.625em) {
  .connection__items {
    margin-left: clamp( 0.00000625rem , 0.00000625rem  +  0vw , 0.00000625rem );
  }
}
@media (min-width: 70.625em) {
  .connection__items {
    margin-right: 0.00000625rem;
  }
}
@media (min-width: 61.99875em) and (max-width: 70.625em) {
  .connection__items {
    margin-right: clamp( 0.00000625rem , 0.00000625rem  +  0vw , 0.00000625rem );
  }
}
@media (max-width: 61.99875em) {
  .connection__items {
    margin-left: 0;
    margin-right: 0;
  }
}
.connection__item {
  min-height: 7.3125rem;
  flex: 0 1 33.333%;
  padding: 0px 1.25rem;
  position: relative;
}
@media (min-width: 70.625em) {
  .connection__item {
    padding-left: 1.25rem;
  }
}
@media (min-width: 61.99875em) and (max-width: 70.625em) {
  .connection__item {
    padding-left: clamp( 1.25rem , 6.3670120272rem  +  -7.2453267642vw , 1.875rem );
  }
}
@media (min-width: 70.625em) {
  .connection__item {
    padding-right: 1.25rem;
  }
}
@media (min-width: 61.99875em) and (max-width: 70.625em) {
  .connection__item {
    padding-right: clamp( 0.625rem , -3.8670120272rem  +  7.2453267642vw , 1.25rem );
  }
}
@media (max-width: 61.99875em) {
  .connection__item {
    flex: 0 1 50%;
  }
}
@media (max-width: 47.99875em) {
  .connection__item {
    flex: 1 1 100%;
    padding-right: 0;
  }
}
.connection__item::before {
  counter-increment: num-counter;
  content: counter(num-counter) "";
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.21875;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #00feff;
  position: absolute;
  width: 3.5625rem;
  height: 7.3125rem;
  top: 0;
  left: 0;
}
@media (min-width: 70.625em) {
  .connection__item::before {
    left: 0.00000625rem;
  }
}
@media (min-width: 61.99875em) and (max-width: 70.625em) {
  .connection__item::before {
    left: clamp( 0.00000625rem , 5.6286683098rem  +  -7.9697869874vw , 0.6875rem );
  }
}
.connection__text {
  padding: 50px 0px 0px 0px;
  position: relative;
  font-weight: 700;
  line-height: 1.2222222222;
  color: #001e42;
}

@media (min-width: 68.125em) {
  .price {
    padding-top: 3.125rem;
  }
}
@media (min-width: 61.99875em) and (max-width: 68.125em) {
  .price {
    padding-top: clamp( 0.9375rem , -21.200392777rem  +  35.7069985717vw , 3.125rem );
  }
}
@media (max-width: 61.99875em) {
  .price {
    padding-top: 0.9375rem;
  }
}
@media (min-width: 68.125em) {
  .price {
    padding-bottom: 2.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  .price {
    padding-bottom: clamp( 0.9375rem , 0.1063311688rem  +  4.1558441558vw , 2.9375rem );
  }
}
@media (max-width: 20em) {
  .price {
    padding-bottom: 0.9375rem;
  }
}
.price__main-title {
  font-weight: 700;
  line-height: 1.22;
  color: #001e42;
}
@media (min-width: 61.99875em) {
  .price__main-title {
    font-size: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 61.99875em) {
  .price__main-title {
    font-size: clamp( 1.875rem , 1.2797441888rem  +  2.9762790559vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .price__main-title {
    font-size: 1.875rem;
  }
}
.price__main-title:not(:last-child) {
  margin-bottom: 0.1em;
}
.price__content:not(:last-child) {
  margin-bottom: 1.25em;
}
@media (min-width: 61.99875em) {
  .price__content {
    display: flex;
  }
}
@media (min-width: 61.99875em) {
  .price__column {
    padding: 0px 0.9375rem 0px 0px;
    flex: 0 1 50%;
  }
}
@media (max-width: 61.99875em) {
  .price__column:not(:last-child) {
    margin-bottom: 1.25em;
  }
}
.price__column_items {
  padding-right: 0;
}
@media (max-width: 61.99875em) {
  .price__column_items {
    flex-wrap: wrap;
  }
}
@media (max-width: 36.25em) {
  .price__column_items {
    margin: 0px -8px;
  }
}
@media (min-width: 36.28125em) {
  .price__column_items {
    display: flex;
    row-gap: 20px;
    column-gap: 0.9375rem;
  }
}
@media (min-width: 68.125em) {
  .price__column_items {
    padding-left: 0.9375rem;
  }
}
.price__column_info {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
}
@media (max-width: 68.125em) {
  .price__column_info {
    row-gap: 1.125rem;
  }
}
.price__info {
  flex: 1 0 auto;
  padding: 1.75rem 0px 0px;
}
@media (min-width: 70em) {
  .price__info {
    padding-top: 1.75rem;
  }
}
@media (min-width: 20em) and (max-width: 70em) {
  .price__info {
    padding-top: clamp( 0.625rem , 0.175rem  +  2.25vw , 1.75rem );
  }
}
@media (max-width: 20em) {
  .price__info {
    padding-top: 0.625rem;
  }
}
.price__text {
  line-height: 140%;
  color: #252d37;
}
.price__text:not(:last-child) {
  margin-bottom: 1.3888888889em;
}
@media (max-width: 47.99875em) {
  .price__text:not(:last-child) {
    margin-bottom: 0.6666666667em;
  }
}
.price__buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 1.5rem;
  row-gap: 1.25rem;
}
@media (min-width: 29.99875em) {
  .price__buttons {
    column-gap: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 29.99875em) {
  .price__buttons {
    column-gap: clamp( 0.625rem , -1.1252187773rem  +  8.7510938867vw , 1.5rem );
  }
}
@media (max-width: 20em) {
  .price__buttons {
    column-gap: 0.625rem;
  }
}
.price__buttons:not(:last-child) {
  margin-bottom: 1em;
}
@media (max-width: 36.25em) {
  .price__buttons {
    justify-content: center;
  }
}
@media (max-width: 29.99875em) {
  .price__buttons {
    margin: 0px -10px;
  }
}
.price__download-btn {
  padding: 1.0625rem 3.4375rem 0.875rem 1.375rem;
  border: 2px solid #001e42;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.2142857143;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #001e42;
  position: relative;
}
@media (min-width: 29.99875em) {
  .price__download-btn {
    padding-left: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 29.99875em) {
  .price__download-btn {
    padding-left: clamp( 0.3125rem , -1.8127656582rem  +  10.626328291vw , 1.375rem );
  }
}
@media (max-width: 20em) {
  .price__download-btn {
    padding-left: 0.3125rem;
  }
}
@media (min-width: 24.99875em) {
  .price__download-btn {
    padding-right: 3.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 24.99875em) {
  .price__download-btn {
    padding-right: clamp( 2.1875rem , -2.8137503126rem  +  25.0062515629vw , 3.4375rem );
  }
}
@media (max-width: 20em) {
  .price__download-btn {
    padding-right: 2.1875rem;
  }
}
.price__download-btn::before, .price__download-btn::after {
  content: "";
  position: absolute;
}
.price__download-btn::before {
  width: 1.4375rem;
  height: 0.3125rem;
  background: url("../img/price/slice-1.svg") 0 0 no-repeat;
  bottom: 0.6875rem;
  right: 1.25rem;
}
@media (min-width: 29.99875em) {
  .price__download-btn::before {
    right: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 29.99875em) {
  .price__download-btn::before {
    right: clamp( 0.125rem , -2.1252812852rem  +  11.2514064258vw , 1.25rem );
  }
}
@media (max-width: 20em) {
  .price__download-btn::before {
    right: 0.125rem;
  }
}
.price__download-btn::after {
  width: 0.9375rem;
  height: 1.1875rem;
  background: url("../img/price/arrow-down.svg") 0 0 no-repeat;
  top: 0.8125rem;
  right: 1.5rem;
}
@media (min-width: 29.99875em) {
  .price__download-btn::after {
    right: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 29.99875em) {
  .price__download-btn::after {
    right: clamp( 0.375rem , -1.8752812852rem  +  11.2514064258vw , 1.5rem );
  }
}
@media (max-width: 20em) {
  .price__download-btn::after {
    right: 0.375rem;
  }
}
@media (any-hover: hover) {
  .price__download-btn:hover::after {
    animation: download 1s ease infinite;
  }
}
@media (max-width: 36.25em) {
  .price__item:not(:last-child) {
    margin-bottom: 0.9375em;
  }
}

.item-price {
  flex: 1 0 16.1875rem;
  box-shadow: 0px 0px 0 2px #001e42;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  justify-content: center;
  text-align: center;
}
@media (min-width: 47.99875em) {
  .item-price {
    padding-top: 2.375rem;
  }
}
@media (min-width: 20em) and (max-width: 47.99875em) {
  .item-price {
    padding-top: clamp( 1.1875rem , 0.3392478459rem  +  4.2412607706vw , 2.375rem );
  }
}
@media (max-width: 20em) {
  .item-price {
    padding-top: 1.1875rem;
  }
}
@media (min-width: 47.99875em) {
  .item-price {
    padding-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 47.99875em) {
  .item-price {
    padding-bottom: clamp( 1.1875rem , 0.2499581455rem  +  4.6877092727vw , 2.5rem );
  }
}
@media (max-width: 20em) {
  .item-price {
    padding-bottom: 1.1875rem;
  }
}
@media (min-width: 29.99875em) {
  .item-price {
    padding-left: 1.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 29.99875em) {
  .item-price {
    padding-left: clamp( 0.625rem , -0.5001406426rem  +  5.6257032129vw , 1.1875rem );
  }
}
@media (max-width: 20em) {
  .item-price {
    padding-left: 0.625rem;
  }
}
@media (min-width: 29.99875em) {
  .item-price {
    padding-right: 1.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 29.99875em) {
  .item-price {
    padding-right: clamp( 0.625rem , -0.5001406426rem  +  5.6257032129vw , 1.1875rem );
  }
}
@media (max-width: 20em) {
  .item-price {
    padding-right: 0.625rem;
  }
}
@media (max-width: 68.125em) {
  .item-price {
    flex: 0 1 16.1875rem;
  }
}
@media (max-width: 61.99875em) {
  .item-price {
    flex: 1 1 16.1875rem;
  }
}
.item-price__sub-title {
  line-height: 140%;
  color: #001e42;
}
.item-price__sub-title:not(:last-child) {
  margin-bottom: 0.8888888889em;
}
.item-price__title {
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 140%;
  color: #001e42;
  text-transform: uppercase;
}
.item-price__title:not(:last-child) {
  margin-bottom: 0.3333333333em;
}
.item-price__cost {
  font-size: 4.375rem;
  font-weight: 700;
  line-height: 115%;
  color: #001e42;
}
.item-price__cost:not(:last-child) {
  margin-bottom: 0.4em;
}
.item-price__period {
  padding: 0.1875rem 0px 0px 0px;
  display: block;
  font-size: 1.25rem;
  line-height: 1.2;
  color: #001e42;
}
.item-price__workplace {
  line-height: 140%;
  color: #001e42;
}
.item-price__workplace:not(:last-child) {
  margin-bottom: 0.5555555556em;
}

@media (min-width: 68.125em) {
  .clients {
    padding-top: 3.125rem;
  }
}
@media (min-width: 61.99875em) and (max-width: 68.125em) {
  .clients {
    padding-top: clamp( 0.9375rem , -21.200392777rem  +  35.7069985717vw , 3.125rem );
  }
}
@media (max-width: 61.99875em) {
  .clients {
    padding-top: 0.9375rem;
  }
}
@media (min-width: 68.125em) {
  .clients {
    padding-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  .clients {
    padding-bottom: clamp( 0.9375rem , 0.2881493506rem  +  3.2467532468vw , 2.5rem );
  }
}
@media (max-width: 20em) {
  .clients {
    padding-bottom: 0.9375rem;
  }
}
.clients__title {
  font-weight: 700;
  line-height: 1.22;
  color: #001e42;
}
@media (min-width: 61.99875em) {
  .clients__title {
    font-size: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 61.99875em) {
  .clients__title {
    font-size: clamp( 1.875rem , 1.2797441888rem  +  2.9762790559vw , 3.125rem );
  }
}
@media (max-width: 20em) {
  .clients__title {
    font-size: 1.875rem;
  }
}
@media (min-width: 47.99875em) {
  .clients__title:not(:last-child) {
    margin-bottom: 2.375rem;
  }
}
@media (min-width: 20em) and (max-width: 47.99875em) {
  .clients__title:not(:last-child) {
    margin-bottom: clamp( 1.125rem , 0.2321029957rem  +  4.4644850217vw , 2.375rem );
  }
}
@media (max-width: 20em) {
  .clients__title:not(:last-child) {
    margin-bottom: 1.125rem;
  }
}
.clients__logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 1.875rem;
}
@media (min-width: 90em) {
  .clients__logo {
    column-gap: 4.375rem;
  }
}
@media (min-width: 29.99875em) and (max-width: 90em) {
  .clients__logo {
    column-gap: clamp( 0.4375rem , -1.5311269557rem  +  6.5623632841vw , 4.375rem );
  }
}
@media (max-width: 29.99875em) {
  .clients__logo {
    column-gap: 0.4375rem;
  }
}
.clients__logo:not(:last-child) {
  margin-bottom: 1.25em;
}
@media (max-width: 23.4375em) {
  .clients__logo {
    row-gap: 1.25rem;
  }
}
.clients__image-ibg_contain {
  flex: 0 1 10.125rem;
  position: relative;
  padding-bottom: 10.0917431193%;
}
@media (max-width: 43.75em) {
  .clients__image-ibg_contain {
    padding-bottom: 14.2857142857%;
  }
}
@media (max-width: 29.99875em) {
  .clients__image-ibg_contain {
    padding-bottom: 20%;
    flex: 0 1 6.875rem;
    filter: grayscale(1);
  }
}

@media (min-width: 68.125em) {
  .structure {
    padding-top: 2.5rem;
  }
}
@media (min-width: 61.99875em) and (max-width: 68.125em) {
  .structure {
    padding-top: clamp( 0.9375rem , -14.875280555rem  +  25.5049989798vw , 2.5rem );
  }
}
@media (max-width: 61.99875em) {
  .structure {
    padding-top: 0.9375rem;
  }
}
@media (min-width: 68.125em) {
  .structure {
    padding-bottom: 4.375rem;
  }
}
@media (min-width: 20em) and (max-width: 68.125em) {
  .structure {
    padding-bottom: clamp( 0.9375rem , -0.4910714286rem  +  7.1428571429vw , 4.375rem );
  }
}
@media (max-width: 20em) {
  .structure {
    padding-bottom: 0.9375rem;
  }
}
.structure__title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
  color: #a5aaaf;
}
@media (min-width: 62.06125em) {
  .structure__title:not(:last-child) {
    margin-bottom: 1.6875rem;
  }
}
@media (min-width: 29.99875em) and (max-width: 62.06125em) {
  .structure__title:not(:last-child) {
    margin-bottom: clamp( 1.0625rem , 0.4777290448rem  +  1.9493177388vw , 1.6875rem );
  }
}
@media (max-width: 29.99875em) {
  .structure__title:not(:last-child) {
    margin-bottom: 1.0625rem;
  }
}
.structure__block:not(:last-child) {
  margin-bottom: 1.25em;
}
.structure__main:not(:last-child) {
  margin-bottom: 0.625em;
}
@media (min-width: 47.99875em) {
  .structure__main {
    display: flex;
    align-items: flex-start;
    margin: 0px -0.9375em;
  }
}
.structure__content:not(:last-child) {
  margin-bottom: 1.25em;
}
@media (min-width: 47.99875em) {
  .structure__content {
    flex: 0 1 50%;
    padding: 0px 0.9375rem;
  }
}
.structure__text {
  font-size: 0.8125rem;
  line-height: 120%;
  color: #a5aaaf;
}
@media (min-width: 62.06125em) {
  .structure__text:not(:last-child) {
    margin-bottom: 1rem;
  }
}
@media (min-width: 47.99875em) and (max-width: 62.06125em) {
  .structure__text:not(:last-child) {
    margin-bottom: clamp( 0.625rem , -0.6549666667rem  +  2.6666666667vw , 1rem );
  }
}
@media (max-width: 47.99875em) {
  .structure__text:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
.structure__text_list:not(:last-child) {
  margin-bottom: 0.3846153846em;
}
.structure__list:not(:last-child) {
  margin-bottom: 1em;
}
.structure__item {
  font-size: 0.8125rem;
  line-height: 120%;
  color: #a5aaaf;
  display: flex;
  align-items: flex-start;
  column-gap: 0.375rem;
}
.structure__item:not(:last-child) {
  margin-bottom: 0.3846153846em;
}
.structure__item::before {
  content: "-";
}
.structure__button {
  display: block;
  padding: 0.75rem 1.375rem;
  border: 2px solid #8e9194;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.2142857143;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #8e9194;
}
@media (min-width: 29.99875em) {
  .structure__button {
    padding-left: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 29.99875em) {
  .structure__button {
    padding-left: clamp( 1.375rem , 1.375rem  +  0vw , 1.375rem );
  }
}
@media (max-width: 20em) {
  .structure__button {
    padding-left: 1.375rem;
  }
}
@media (min-width: 29.99875em) {
  .structure__button {
    padding-right: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 29.99875em) {
  .structure__button {
    padding-right: clamp( 1.375rem , 1.375rem  +  0vw , 1.375rem );
  }
}
@media (max-width: 20em) {
  .structure__button {
    padding-right: 1.375rem;
  }
}
.structure__button:not(:last-child) {
  margin-bottom: 1.25em;
}
